<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipmentItems">
<!--Bonus Mission Part 3-->
    <span *ngIf="equipmentBeingEdited !== equipment; else elseBlock">
    <span (click)="edit(equipment)" class="editable-text">{{equipment.items}}</span>
    <!--Bonus Mission Part 4-->
    <button (click)="remove(equipment)">remove</button>
      
    <ng-template #elseBlock>
      <!-- edit state of equipment -->
      <input #updatedEquipment (keyup.enter)="save(updatedEquipment.value, equipment)" [value]="equipment.items"/>
      <button (click)="save(updatedEquipment.value, equipment)">save</button>
    </ng-template>

  </li>
</ul>
<!--Bonus Mission Part 2-->
<input #equipment type="text"/>
<button (click)="add(equipment.value); equipment.value =''">Add</button>